/*header*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f5f0;
}

header {
    background-color: #88b990;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
}

h1 {
    width: 200px;
    height: auto;
}

ul {
    display: flex;
    gap: 2vw;
}

a {
    color: #f7f5f0;
    font-weight: bold;
    font-size: 1.4rem;
}

a.atual {
    background-color: #cc6e3a;
    padding: 10px 20px;
    border-radius: 20px;
}

/*main*/
section,
.piramide {
    text-align: center;
    margin: 3vw 5vw 0 5vw;
}

section img.bem {
    border-radius: 20px;
    width: 900px;
}

h2 {
    color: #4a7c59;
    font-weight: bold;
    font-size: 4rem;
    padding: 2vw 0 2vw 2vw;
    width: 80%;
    margin: 0 0 0 8vw;
}

section img.mal {
    border-radius: 50px;
    width: 550px;
    height: auto;
    padding-bottom: 1vw;
}

h3 {
    font-size: 3.5rem;
    color: #4a7c59;
    font-weight: bold;
    padding: 2vw 0;
}

.esquerda h4 {
    font-size: 3.0rem;
    font-weight: bold;
    color: #e9c46a;
    padding-bottom: 1vw;
    text-align: left;
}

.direita h4 {
    font-size: 3.0rem;
    font-weight: bold;
    color: #e9c46a;
    padding: 1vw 0;
    text-align: end;
}

.esquerda p {
    font-size: 1.5rem;
    color: #5a4634;
    line-height: 2.5rem;
    text-align: left;
    width: 90%;
    padding-bottom: 2vw;
    font-weight: bold;
}

.direita p {
    font-size: 1.5rem;
    color: #5a4634;
    line-height: 2.5rem;
    text-align: right;
    padding-bottom: 2vw;
    font-weight: bold;
}

.piramide hr {
    border-top: 15px solid #cc6e3a;
    border-radius: 5px;
    margin: 2vw 5vw;
}

.maleficios p {
    font-size: 1.7rem;
    color: #5a4634;
    line-height: 2.5rem;
    padding: 1vw 2vw;
    text-align: justify;
}

.piramide p {
    font-size: 1.7rem;
    color: #5a4634;
    line-height: 2.5rem;
    padding: 0 5vw 2vw 5vw;
}

.imgPiramide {
    text-align: center;
}

ul.lista li {
    font-size: 1.7rem;
    color: #f7f5f0;
    padding: 1vw 2vw;
    font-weight: bold;
}

ul.lista {
    display: block;
    background-color: #e9c46a;
    padding: 10px 8px;
    margin: 2vw 30vw;
    border-radius: 20px;
}

.videoBem{
    margin-top: 2vw;
}

/*footer*/

footer {
    background-color: #88b990;
    padding: 2vw 5vw;
    text-align: center;
    color: #f7f5f0;
    font-weight: bold;
}

footer .redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .redes svg {
    width: 4vw;
    height: auto;
    margin-bottom: 1vw;
}

footer .rodape {
    display: flex;
    justify-content: space-between;
    padding: 3vw 0 0 0;
}
iframe{
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {


    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 5vw;
        margin-bottom: 2vw;
    }
    nav{
        display: block;
    }
    header a{
        font-size: 1.1rem;
    }
    header a.atual {
    background-color: #cc6e3a;
    padding: 5px 10px;
    border-radius: 20px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }

    .banner div h2 {
        font-size: 1.5rem;
        width: 90%;
    }

    .banner {
        display: flex;
        padding: 20px 0px;
        margin-left: 6vw;
    }

    .banner div img {
        width: 100px;
        height: auto;
    }

    h2 {
        font-size: 1.5rem;
        padding: 0;
        width: 100%;
        margin: 4vw 0;
    }

    h3 {
        font-size: 1.4rem;
        padding-bottom: 5vw;
    }

    .esquerda h4, .direita h4 {
        font-size: 1.3rem;
        text-align: left;
    }

    .esquerda p, .direita p, .maleficios p, .piramide p {
        font-size: 1.1rem;
        line-height: 30px;
        width: 100%;
        text-align: justify;
        padding-bottom: 4vw;
    }

    section img.mal {
        width: 300px;
        height: auto;
        padding-bottom: 3vw;
    }

    .imgPiramide img {
        width: 300px;
        height: auto;
    }

    ul.lista {
        display: block;
        padding: 10px 8px;
        margin: 2vw 3vw;
    }
    ul.lista li {
    font-size: 1.1rem;
    padding: 2vw;
    }

    footer a, footer p{
        font-size: 0.8rem;
        padding: 1vw;
    }
    footer .rodape{
        display: block;
    }
    footer .redes svg  {
    width: 40px;
    height: auto;
    margin-bottom: 1vw;
    }
    .rodape p{
        padding-bottom: 3vw;
    }
    iframe{
        width: 330px;
        height: 200px;
        border-radius: 20px;
    }
}