/*header*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f5f0;
     color: #5A4634;
    font-weight: bold;
    text-align: center;
}

header {
    background-color: #88b990;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
}

h1 {
    width: 200px;
    height: auto;
}

ul {
    display: flex;
    gap: 2vw;
}

a {
    color: #f7f5f0;
    font-weight: bold;
    font-size: 1.4rem;
}

a.atual {
    background-color: #cc6e3a;
    padding: 10px 20px;
    border-radius: 20px;
}

/*main*/

h2 {
    color: #4A7C59;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 4vw;

}

.banner p{
    padding: 2vw;
    font-size: 2.3rem;
}

.question {
    background: #fff;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 60vw;
    height: auto;
    
}

.question p{
    padding: 2vw;
    font-size: 3rem;
}

form{
    display: flex;
    justify-content: center;
}

.question label{
    margin: 0 2vw;
    display: flex;
    text-align: left;
    font-size: 2.5rem;
}
.question input{
    margin-right: 10px;
    width: 20px;
    border: #236530;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 7vw;
    margin: 2vw;
}

button {
    background: #CC6E3A;
    color: white;
    padding: 22px 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background: #d19270;
}

#resultado {
    display: none;
    justify-content: center;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    margin: 2vw 10vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    line-height: 1.6rem;
}

.titulo-resultado {
    font-size: 1.5rem;
    color: #4A7C59;
    margin-bottom: 15px;
    font-weight: bold;
}

.subtitulo {
    font-weight: bold;
    color: #236530;
    font-weight: bold;
}

/*footer*/


footer {
    background-color: #88b990;
    padding: 2vw 5vw;
    text-align: center;
    color: #f7f5f0;
    font-weight: bold;
}

footer .redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer .redes svg {
    width: 4vw;
    height: auto;
    margin-bottom: 1vw;
}

footer .rodape {
    display: flex;
    justify-content: space-between;
    padding: 3vw 0 0 0;
}

@media only screen and (max-width: 600px){

    
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 5vw;
        margin-bottom: 2vw;
    }
    nav{
        display: block;
    }
    header a{
        font-size: 1.1rem;
    }
    header a.atual{
    background-color: #cc6e3a;
    padding: 5px 10px;
    border-radius: 20px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }

h2{
    font-size: 1.5rem;
}
.banner p{
    font-size: 1.3rem;
}
.question p{
   font-size: 1.1rem;
   color: #3d230b;
}
.question {
    padding: 9vw;
   box-sizing: content-box;
   margin: 20px 20px 12px 20px;
}
.question label{
    font-size: 0.9rem;
}
.titulo-resultado{
    font-size: 1.2rem;
}
#resultado{
    text-align: left;
font-size: 1.1rem;
}
button {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.buttons {
    margin-bottom: 3vw;
}

    footer a, footer p{
        font-size: 0.8rem;
        padding: 1vw;
    }
    footer .rodape{
        display: block;
    }
    footer .redes svg  {
    width: 40px;
    height: auto;
    margin-bottom: 1vw;
    }
    .rodape p{
        padding-bottom: 3vw;
    }

}