/*HEADER*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f5f0;
}

header {
    background-color: #88b990;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
}

h1 {
    width: 200px;
    height: auto;
}
header button.voltar:hover {
    background: #649c6d;
}
header button.voltar{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

ul {
    display: flex;
    gap: 2vw;
    align-items: center;
}

header a {
    color: #f7f5f0;
    font-weight: bold;
    font-size: 1.4rem;
}

.atual {
    background-color: #cc6e3a;
    padding: 10px 20px;
    border-radius: 20px;
}

/*MAIN*/

.banner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 40px;
    border-radius: 0 0 15vw 15vw;
    margin: 1vw;
}

.banner div img {
    width: 25vw;
    height: auto;
    border-radius: 15vw 15vw 0 0
}

.banner div h2 {
    font-size: 5rem;
    color: #4a7c59;
    font-weight: bold;
}

.primeira {
    padding: 3vw 7vw;
}

.primeira h3 {
    font-size: 3.5rem;
    color: #4a7c59;
    font-weight: bold;
    padding: 0 0 3vw 0;
    text-align: center;
}

.primeira p {
    font-size: 1.5rem;
    color: #5a4634;
    line-height: 2.5rem;
    text-align: justify;
}

.hidratacao {
     display: flex;
     align-items: center;
    margin: 3vw 10vw;
}
.tituloHidratacao hr{
    border-top: 15px solid #88b990;
    border-radius: 5px;
    margin: 2vw 9vw;
    width: 60%;
}
.hidratacao img {
    width: 950px;
    height: auto;
    border-radius: 1vw;
}

.hidratacao  h3 {
    font-size: 3.9rem;
    color: #4a7c59;
    font-weight: bold;
    padding: 0 0 2vw 0;
    margin: 0vw 9vw;
    width: 40%;
}

.segunda p {
    font-size: 1.5rem;
    color: #5a4634;
    line-height: 2.5rem;
    text-align: justify;
    padding: 1vw 7vw;
}
.imgAdolecentes{
    display: flex;
    justify-content: center;
    padding-top: 2vw;
}
.terceira img {
    width: 70%;
    height: auto;
    border-radius: 7vw;
}

.terceira h3{
    font-size: 3.5rem;
    color: #4a7c59;
    font-weight: bold;
    padding: 3vw 0 4vw 0;
    text-align: center;
}

.terceira p {
    font-size: 1.5rem;
    color: #5a4634;
    line-height: 2.5rem;
    text-align: justify;
    padding: 1vw 7vw 1vw 7vw;
}

.adolescencia {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0 5vw;
}

.adolescencia img {
    width: 300px;
    height: auto;
    border-radius: 2vw;
    margin: 1vw 0;
}

.adolescencia p {
    font-size: 1.5rem;
    color: #5a4634;
    line-height: 2.5rem;
    text-align: justify;
    width: 75%;
    padding-top: 3vw;
}
div.video{
    display: flex;
    justify-content: center;
    padding: 1vw;
    border-radius: 20px
}
iframe{
    border-radius: 20px;
}

/*FOOTER*/

footer{
    background-color: #88b990;
    padding: 2vw 5vw;
    text-align: center;
    color: #f7f5f0;
    font-weight: bold;
}

footer .redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .redes button {
    width: 4vw;
    height: auto;
    margin-bottom: 1vw;
}
footer button:hover {
    background: #649c6d;
}
footer button{
    cursor: pointer;
    border: none;
    border-radius: 20px;
}
footer button.voltar:hover {
    background: #649c6d;
}
footer button.voltar{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
footer .rodape {
    display: flex;
    justify-content: space-between;
    padding: 3vw 0 0 0;
}
.rodape p{
    color: #f7f5f0;
}

@media only screen and (max-width: 600px){

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 5vw;
        margin-bottom: 2vw;
    }
    nav{
        display: block;
    }
    header a{
        font-size: 1.1rem;
    }
    .atual {
    background-color: #cc6e3a;
    padding: 5px 10px;
    border-radius: 20px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .banner div h2 {
    font-size: 1.5rem;
    width: 90%;
    }
    .banner {
    display: flex;
    padding: 20px 0px;
    margin-left: 6vw;
    }
    .banner div img {
    width: 100px;
    height: auto;
    }
    .primeira h3 {
    font-size: 1.5rem;
    }
    .primeira p, .segunda p, .terceira p{
    font-size: 1.1rem;
    line-height: 30px;
    padding: 0;
    width: 100%;
    }
    .hidratacao {
    margin: 3vw 7vw;
    flex-direction: column-reverse;
    }
    .terceira, .segunda{
        margin: 3vw 7vw;
    }
    .hidratacao h3, .terceira h3{
    font-size: 1.5rem;
    padding: 5vw 0 2vw 0;
    text-align: center;
    margin: 0;
    width: 99%;
    }
    .tituloHidratacao hr{
    border-top: 12px solid #88b990;
    border-radius: 5px;
    margin: 0 auto;
    width: 90%;
    }
    .adolescencia{
        display: block;
        margin: 2vw 0;
        padding: 0;
    }
    .adolescencia img {
    width: 60vw;
    height: auto;
    margin: 3vw 0;
    }
    
    footer a, footer p{
        font-size: 0.8rem;
        padding: 1vw;
    }
    footer .rodape{
        display: block;
    }
    footer .redes svg  {
    width: 40px;
    height: auto;
    margin-bottom: 1vw;
    }
    .rodape p{
        padding-bottom: 3vw;
    }
    iframe{
        width: 330px;
        height: 200px;
        border-radius: 20px;
    }
}
