/*HEADER*/

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f5f0;
}

header {
    background-color: #88b990;;
}

nav {
display: flex;
justify-content: space-between;
}

h1{
    height: auto;
    width: 15vw;
    margin: 15px 0 0 20px;
}

ul.menu{
display: flex;
justify-content: space-between;
margin: 40px 50px 0 0;
}

li{
    display: flex;
    justify-content: space-between;
    padding: 0 2vw 0 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #f7f5f0;
}

