/*header*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f5f0;
}

header {
    background-color: #88b990;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
}

h1 {
    width: 200px;
    height: auto;
}

header button.voltar:hover {
    background: #649c6d;
}
header button.voltar{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

ul.menu {
    display: flex;
    gap: 2vw;
    align-items: center;
}

header a {
    color: #f7f5f0;
    font-weight: bold;
    font-size: 1.4rem;
}

a.atual {
    background-color: #cc6e3a;
    padding: 10px 20px;
    border-radius: 20px;
}

/*main*/

h2 {
    color: #4a7c59;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    margin: 3vw 0 1vw 0;
}

h3 {
    color: #5a4634;
    font-size: 2rem;
    margin: 2vw 0 1vw 0;
    text-align: center;
    font-weight: bold;
    padding: 1.5vw 0 0 0;
}

p.topo {
    color: #5a4634;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    margin: 0 4vw 3vw 4vw;
    padding: 2vw 0 0 0;
}

.fotos img {
    width: 25vw;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1vw;
}
.fotos {
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}
h4 {
    color: #4a7c59;
    font-size: 2rem;
    margin: 1vw 0 1vw 0;
    text-align: center;
    font-weight: bold;
}

p.descricao {
    color: #5a4634;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
    margin: 0 1vw 2vw 1vw;
}

h5 {
    color: #4a7c59;
    font-size: 1.5rem;
    margin: 1vw 0 2vw 0;
    text-align: center;
    font-weight: bold;
}

section p{
    color: #5a4634;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
    padding: 0 4vw 2vw 4vw;
}

/*footer*/

footer{
    background-color: #88b990;
    padding: 2vw 5vw;
    text-align: center;
    color: #f7f5f0;
    font-weight: bold;
}

footer .redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .redes button {
    width: 4vw;
    height: auto;
    margin-bottom: 1vw;
}
footer button:hover {
    background: #649c6d;
}
footer button{
    cursor: pointer;
    border: none;
    border-radius: 20px;
}
footer button.voltar:hover {
    background: #649c6d;
}
footer button.voltar{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
footer .rodape {
    display: flex;
    justify-content: space-between;
    padding: 3vw 0 0 0;
}
.rodape p{
    color: #f7f5f0;
}

@media only screen and (max-width: 600px) {

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 5vw;
        margin-bottom: 2vw;
    }
    nav{
        display: block;
    }
    header a{
        font-size: 1.1rem;
    }
    header a.atual{
    background-color: #cc6e3a;
    padding: 5px 10px;
    border-radius: 20px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    h2{
        margin-top: 5vw;
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.4rem;
        text-align: justify;
        padding: 0 4vw;
    }
    p.topo{
        font-size: 1.1rem;
        line-height: 30px;
        text-align: justify;
    }
    h4{
        font-size: 1.2rem;
    }
    p.descricao {
        font-size: 1.1rem;
        text-align: justify;
    }
    section p{
        font-size: 1.1rem;
        text-align: justify;
    }
    .fotos img{
        width: 30vw;
    }
    footer a, footer p{
        font-size: 0.8rem;
        padding: 1vw;
    }
    footer .rodape{
        display: block;
    }
    footer .redes svg  {
    width: 40px;
    height: auto;
    margin-bottom: 1vw;
    }
    .rodape p{
        padding-bottom: 3vw;
    }

}