/*HEADER*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f5f0;
}

header {
    background-color: #88b990;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
}

h1 {
    width: 250px;
    height: auto;
} 

header button.voltar:hover {
    background: #649c6d;
}
header button.voltar{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

ul {
    display: flex;
    gap: 2vw;
    align-items: center;
}
button.logo:hover {
    background: #649c6d;
}
 button.logo{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 8px;
 }

header button {
    color: #f7f5f0;
    font-weight: bold;
    font-size: 1.4rem;
}

.atual {
    background-color: #cc6e3a;
    padding: 10px 20px;
    border-radius: 20px;
    color: #f7f5f0;
    font-weight: bold;
    font-size: 1.4rem;
}

/*main*/
section {
    text-align: center;
    margin: 3vw 4vw;
}

h2 {
    color: #4a7c59;
    font-weight: bold;
    font-size: 4rem;
    padding: 2vw;
}

section p{
    font-size: 1.5rem;
    color: #5a4634;
    line-height: 2.5rem;
    
    padding-bottom: 2vw;
}
.integrantes ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projeto ul{
    display: flex;
    justify-content: space-around;
}

hr {
    border-top: 15px solid #cc6e3a;
    border-radius: 5px;
    margin-top: 2vw;
}

.integrantes img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 3vw;
}
h3{
   font-size: 1.7rem;
    color: #5a4634;
    font-weight: bold; 
}
.projeto button{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #effffe;
    background-color: #cc6e3a;
    padding: 1vw 3vw;
    text-decoration: none;
    border-radius: 20px;
}
.projeto button:hover {
    background: #d19270;
}
.projeto button{
    cursor: pointer;
    border: none;
}

/*footer*/

footer{
    background-color: #88b990;
    padding: 2vw 5vw;
    text-align: center;
    color: #f7f5f0;
    font-weight: bold;
}

footer .redes {
    display: flex;
    justify-content: space-evenly;
}

footer .redes button {
    width: 4vw;
    height: auto;
    margin-bottom: 1vw;
}
footer button:hover {
    background: #649c6d;
}
footer button{
    cursor: pointer;
    border: none;
    border-radius: 20px;
}
footer button.voltar:hover {
    background: #649c6d;
}
footer button.voltar{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
footer .rodape {
    display: flex;
    justify-content: space-between;
    padding: 3vw 0 0 0;
}
.rodape p{
    color: #f7f5f0;
}

@media only screen and (max-width: 600px){


    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 2vw;
    }
    nav{
        display: block;
    }
    header a{
        font-size: 1.1rem;
    }
    header a.atual {
    background-color: #cc6e3a;
    padding: 5px 10px;
    border-radius: 20px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .banner div h2 {
    font-size: 1.5rem;
    width: 90%;
    }
    .banner {
    display: flex;
    padding: 20px 0px;
    margin-left: 6vw;
    }
    .banner div img {
    width: 100px;
    height: auto;
    }
    hr {
    border-top: 8px solid #cc6e3a;
    border-radius: 5px;
    margin-top: 5vw;
    }
    h2 {
    font-size: 1.5rem;
    padding: 4vw;
    }
    section p {
    font-size: 1.1rem;
    line-height: 30px;
    text-align: justify;
    padding-bottom: 2vw;
    }
    .integrantes img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin: 3vw;
    }
    h3{
    font-size: 1.4rem;
    }
    .projeto a{
    font-size: 1.0rem;
    }
    .projeto ul{
        margin-bottom: 5vw;

    }
    footer a, footer p{
        font-size: 0.8rem;
        padding: 1vw;
    }
    footer .rodape{
        display: block;
    }
    footer .redes svg  {
    width: 40px;
    height: auto;
    margin-bottom: 1vw;
    }
    .rodape p{
        padding-bottom: 3vw;
    }
    .projeto button{
        padding: 3vw 4vw;
        margin: 1vw;
    }
}
